<html ng-controller="enteruser">
  <h2>Signup</h2>
  <form ng-submit="data.sendData(data)">
      <div>
        <label for="name">Username:</label>
        <input id="username" type="text" name="username" ng-model='data.username'>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="text" name="password" ng-model='data.password'>
      </div>
      <div>
        <button type="submit" value="Enter">Submit</button>
      </div>
  </form>
</html>